* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
   background-color: rgba(17.41, 17.41, 17.41, 1);
    font-family: "Inter", sans-serif;
    color: white;
}

header {
     max-width: 1100px;
     margin: 0px auto;
}   
nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 55px;
}

nav>h2 {
    font-size: 2rem;
    font-style: italic;
    color:#E6533C ;
    font-weight: 700;
}



.nav-menu ul  {
    display: flex;
    gap: 47px;
    margin-right: 12px;

}
.nav-menu a {
    text-decoration: none;
    color: white;
}
.nav-menu li {
    list-style: none;
}

.nav-menu {

    border: 1px solid rgba(240, 248, 255, 0.514);
    border-radius: 39px;
    padding:12px 4px;
    
}

.nav-menu-btn {
 background-color: #E6533C;
 height: 37px;
 border-radius: 46px;
 font-weight: 600;
 align-items: center;
 padding: 8px 16px;
 
}
.nav-menu-btn a {
    align-items: center;
    text-align: center;
}

banner{
    display: flex;
}

.banner-text{
    border: 1px solid red;
    width: 50%;
    align-items: center;
   
}

.banner-text h1{
    font-size: 4.8rem;
    color: #ffffff;
    width: 900;
    margin-top: 98px;
    margin-bottom: 28px;
}
.banner-text p{
    margin-bottom: 28px;
    color: rgba(255, 255, 255, 0.5);
}


